/* 通配符选择器 */
html{
	overflow-x: hidden;
}
*{
	text-decoration:none
}
body {
	line-height: 15px;
	width: 1000px;
	/* background: #FFF0F5; */
	/* 颜色名称：lavenderblush */
	background:url(../img/bk1.png) ;
	margin: 0 auto
}
.clear{ clear:both}
.menu {
	float: left;
	/* margin-top: 5px; */
	border-bottom: 5px solid lightpink
}

.menu li {
	list-style: none
}

.menu li {
	display: inline-block;
	width: 120px;
	/* height: 40px; */
	/* background-color: #FFF0F5; */
	text-align: center;
	font-size: 20px;
	/* margin-bottom: 20px */
}

.menu li img {
	width: 88px;
	height: 88px;
	margin-bottom: -35px;
}

.menu li a {
	color: black;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 25px
}
.menu li a:hover{
	transform: scale(1.1);
	text-shadow: 2px 1px 3px rgb(255,0,0,0.5);
	cursor: pointer;
}
/* .menu li:hover{
	background:url(../img/爱心.jpeg);
} */
.menu li:nth-child(6){
	margin-right: 50px;
}/* 指定“关于我们”后面与登录注册隔开50px距离 */
.menu ul button{
	background-color: red;
	border-radius: 10px;
	color: white;
	border-color: #FFF0F5;
	margin-right: 35px;
}
.banner {
	padding-top: 120px;
	/* margin-bottom: 100px; */
}
.nov1 {
	background-color: white;
	margin-top: 10px;
}
.bar{
	/* background-position: center; */
	margin: 0 auto;
	text-align: center;
	letter-spacing:8px
}
.bar p{
	margin: 0 auto;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	/* text-align:center */
}
.bar img{
	padding-top:10px;
	display: inline-block;
}


.new {
	/* display: inline-block; */
	/* text-align: center; */
}
.new-img{
	display: inline-block;
	margin-right: 30px;
	text-align: center;
}
.new-img img{
	width: 350px;
	height: 250px;
	/* padding-top: 0px; */
	padding-left: 55px;
	text-align: center;
	/* display: inline-block; */
}
.new-list{
	display: inline-block;
	width: 500px;
	background: url(../img/bk1.png);
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.new-link {
	display: inline-block;
	line-height:22px;
	width: 490px;
	padding-top: 10px;
	padding-left: 10px;
	
}
.new-link a{
	/* display: inline-block; */
	font-size: 14px;
	color: #000000;
	
}
.new-list button{
	text-align: right;
	margin-left: 400px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 5px;
	border-color: red;
	color: #FF0000;
	background-color: #FFF0F5;
	margin-top: 5px;
	margin-bottom: 10px;
}

.nov2 {
	background-color: #FFFFFF;
	margin-top: 10px;
}
.inf {
	background:url(../img/深色线条小狗.png);
	border-radius: 20px;
	width: 900px;
	height: 570px;
	margin: 0 auto;
	padding-top: 15px;
	margin-top: 5px;
}
.inf1 {
	height: 250px;
	width: 850px;
	margin: 0px auto;
	background-color: #FFF0F5;
	padding-top: 5px;
	margin-top: 5px;
}
.inf1 p{
	display: inline-block;
}
.inf2{
	height: 250px;
	width: 850px;
	margin: 0px auto;
	background-color: #FFF0F5;
	padding-top: 5px;
	margin-top: 15px;
}
.inf2 p{
	display: inline-block;
}
.inf button {
	text-align: right;
	margin-left: 800px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 5px;
	border-color: red;
	color: #FF0000;
	background-color: #FFF0F5;
	margin-top: 5px;
	/* margin-bottom: 10px; */
}

.footer {
	width: 1520px;
	margin-left: -260px;
	height: 162px;
	background-color: #FFB6C1;
	margin-top: 30px;
}
.rel {
	display: inline-block;
	margin-left: 320px;
	margin-top: 10px;
}
.rel_all{
	display: inline-block;
	/* background-color: white; */
	line-height: 7px;
}
.rel_all p{
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 3px;
}
.rel_pic{
	display: inline-block;
	margin-left: 100px;
}
.rel_pic img{
	margin-right: 20px;
}
.beian{
	text-align: center;
	font-style:italic;
	color: gray;
	letter-spacing: 3px;
	font-size: 12px;
}
.new-link2 {
	background-color: #FF0000;
	width: 100%;
	margin-left: 30px;
	line-height: 25px;
}